<!DOCTYPE HTML>
<!--
	Retrospect by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
        <%- include('./include/head') %>
		<title>조도관리</title>
		<link rel="stylesheet" type="text/css" href="../light_assets/css/main.css">
        <link rel="stylesheet" type="text/css" href="../light_assets/css/index.css">
        <link rel="stylesheet" type="text/css" href="../light_assets/css/lightindex.css">
        <script src="https://d3js.org/d3.v4.min.js"></script>
        <link rel="stylesheet" href="../css/billboard.css">
        <script src="../js/billboard.js"></script>
        
	</head>
	<body>
        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
            <div class="container">
                <a class="navbar-brand boldst" href="/"><img src="../main_assets/image/50px35pxlogo.png" alt="">&nbsp;&nbsp;SF KITRI</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <h3 class="nav-link"><%=user%> 님</h3>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/auth/logout">log out</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="ilumindex">
            <%if(cur == undefined) {%>
            <div>
                <h2>데이터 로딩중 입니다...</h2>
            </div>
            <% } else {%>
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-7" id="chart"></div>
                    <div class="col-md-3"></div>
                </div>

                <div class="row mt-5">
                    <div class="col-sm-4"></div>
                    <form method="POST" action="/auto/light" class="col-sm-2">
                        <% let illumRemote = isAuto ? 0 : 1; %>
                        <% let txt = isAuto ? "조도 수동 관리" : "조도 자동 관리"; %>
                        <input type="text" name="remote" value="<%=illumRemote%>" style="display: none;">
                        <button class="btn btn-primary" style="width: 100%;"><%=txt%></button>
                    </form>
                </div>

                <div class="row door1">
                    <div class="col-sm-4 textt"></div>
                    <% if(!isAuto) { %>
                        <form method="POST" action="/control/light">
                            <% let illumRemote = st ? 0 : 1; %>
                            <% let txt = st ? "천장 닫기" : "천장 열기"; %>
                            <input type="text" name="remote" value="<%=illumRemote%>" style="display: none;">
                            <input type="submit" value="<%=txt%>" class="btn btn-primary">
                        </form>
                        <div class="pl-4">
                            <% if(st) { %>
                                <p><b>천장 열림</b></p>
                            <% } else { %>
                                <p><b>천장 닫힘</b></p>
                            <% }%>
                            <p> 
                                현재 조도 [ <b><%=cur%></b> ]
                            </p>
                        </div>
                    <% } else {%>
                        <form method="POST" action="/aim/light" style=" display:grid; grid-template-columns: auto auto;">
                            <div class="textbox">
                                <input type="text" name="remote" value="<%=aim%>">
                            </div>
                            <div class="settingbut">
                                <input type="submit" value="타겟 조도 변경"  class="btn btn-primary">
                            </div>
                        </form>
                        <div class="pl-4 pt-1">
                            <p> 
                                현재 조도 [ <b><%=cur%></b> ]<br/>
                                타겟 조도 [ <b><%=aim%></b> ]
                            </p>
                        </div>
                    <% } %>
                </div>
            <% }%>
        </div>

    <footer class="py-5 bg-dark fixed-bottom">
        <div class="container">
            <p class="m-0 text-center text-white"> &copy; KITRI_SF_project.
                PM: JIN HEE SUNG.<br>
                Member: KIM SAMUEL, KIM YOUNGROK, PARK JONGJIN, LEE SANGJIN, CHOI INKYU . </p>
        </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script>
        var chart = bb.generate({
            data: {
                x: "x",
                xFormat: "%Y-%m-%d %H:%M:%S",
                columns: [
                    ["x",<%-date%>],
                    ["조도", <%=light%>]
                ]
            },
            color: {
                pattern: [
                    "#ff7f0e"
                    ]
            },
            axis: {
                x: {
                    type: "timeseries",
                    localtime: true,
                    tick: {
                        format: "%Y-%m-%d %H:%M:%S"
                    }
                },
                y: {
                    label: "조도",
                    max: 100,
                    min: 0
                }
            },
            bindto: "#chart"
        });
        </script>
	</body>
</html>