<!DOCTYPE HTML>
    <%- include('./include/head') %>
    <title>SF 메인페이지</title>
    <link rel="stylesheet" href="../css/main.css" />
    <link rel="stylesheet" href="../css/style2.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css" />
</head>

<% 
    var temp, humid, illum;
    var heater, dehumid, roof;
    var tAuto, hAuto, ilAuto;

    results.forEach(result => {
        switch(result.sensor_id){
            case 1:
                temp = result.sensor_data;
                heater = result.status;
                tAuto = result.is_auto;
            break;

            case 2:
                humid = result.sensor_data;
                dehumid = result.status;
                hAuto = result.is_auto;
            break;

            case 4:
                illum = result.sensor_data;
                roof = result.status;
                ilAuto = result.is_auto;
            break;

            default:
            break;
        }
    });
    heater = heater ? "on" : "off";
    dehumid = dehumid ? "on" : "off";
    roof = roof ? "open" : "close";
%>

<body class="landing">
    <!-- Header -->
    <div>
        <header id="header" class="alt" >
            <div class="col-sm-6">
                <div style="margin-right: 10px; min-height:auto;">
                    <a href="/"><img src="../img/testlogomini2.png" ></a>
                </div>
            </div>
            <div class="col-sm-6" align="right">
                <h3><%=user%> 님 환영합니다.</h3>
                <form action="/logout" method="get" style="display: inline-block;"><input type="submit" value="로그아웃"></form>
            </div>
        </header>
    </div>      
    <!-- Navtwo -->
    <nav id="navtwo">
            <!-- One -->
            <section id="one" class="wrapper style1">
                <div class="inner">
                    <article class="feature left">
                        <span class="cldimg" ><img src="../img/cloud.png" alt="" /></span>
                        <div class="content">
                            <h2>
                                SMART FACTORY
                                <br>
                                조도
                            </h2>
                            <p>
                                <b>
                                    현재 조도는 <%=illum%> 입니다.<br>
                                    <% if(ilAuto == 0) { %>
                                        현재 천장은 <%=roof%> 상태입니다.
                                    <% } else { %>
                                        조도 자동 관리 가동중
                                    <% } %>
                                    <br>
                                </b>
                            </p>
                            
                            <ul class="actions">
                                <li>
                                    <% if(user == 'KIM' || user== 'DEV'){%>
                                        <a href="/manage/illum" class="button alt">바로가기</a>
                                    <% } else { %>
                                        <div style="height: 41.8px;"/>
                                    <%}%>
                                </li>
                            </ul>
                        </div>
                    </article>
                    <article class="feature left">
                        <span class="tmpimg">
                            <img src="../img/tempe.png" alt="" />
                            <img src="../img/hum.png" alt="" />
                        </span>
                        <div class="content">
                            <h2>SMARTFACTORY <br>온도 습도</h2>
                            <p>
                                <b>
                                    현재 온도는 <%=temp%> ˚C 입니다.<br>
                                    현재 습도는 <%=humid%> % 입니다.<br>
                                    <% if(tAuto == 0) { %>
                                        난방기 [ <%=heater%> ]
                                    <% } else { %>
                                        난방 자동 관리 가동중
                                    <% } %>
                                    <br>
                                    <% if(hAuto == 0) { %>
                                        제습기 [ <%=dehumid%> ]
                                    <% } else { %>
                                        제습 자동 관리 가동중
                                    <% } %>
                                </b>
                            </p>
                            <ul class="actions">
                                <li>
                                    <% if(user == 'LEE' || user== 'DEV'){%>
                                        <a href="/manage/th" class="button alt">바로가기</a>
                                    <% } else { %>
                                        <div style="height: 41.8px;"/>
                                    <%}%>
                                    
                                </li>
                            </ul>
                        </div>
                    </article>
                     <article class="feature left" style="padding: 12px 0;">
                        <span class="boximg"><img src="../img/boxes.png" alt="" /></span>
                        <div class="content">
                            <h2>
                                SMARTFACTORY 
                                <br>
                                재고수량
                            </h2>
                            <ul class="actions">
                                <li>
                                    <% if(user == 'JIN' || user== 'DEV'){%>
                                        <a href="/manage/stock" class="button alt">바로가기</a>
                                    <% } else { %>
                                        <div style="height: 41.8px;"/>
                                    <%}%>
                                </li>
                            </ul>
                        </div>
                    </article>
                </div>
            </section>
    </nav>
    <!-- Footer -->
    <footer id="footer">
        <div class="inner">
            <ul class="copyright">
                <img src="../img/testlogo3.png" alt="" />
                <li>&copy; KITRI_SF_project.</li><br>
                <li>PM: JIN HEE SUNG</a></li><br>
                <li>Member: KIM SAMUEL, KIM YOUNGROK, PARK JONGJIN, LEE SANGJIN, CHOI INKYU  </a>.</li>
            </ul>
        </div>
    </footer>
    <!-- Scripts -->
    <script src="../js/jquery.min.js"></script>
    <script src="../js/skel.min.js"></script>
    <script src="../js/util.js"></script>
    <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
    <script src="../js/main.js"></script>
</body>

</html>