<!DOCTYPE HTML>
    <%- include('./include/head') %>
    <title>SF 메인페이지</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../assets_main/css/main.css" />
    <link rel="stylesheet" href="../css/style_main.css">
</head>

<% 
    var temp, humid, light;
    var heater, dehumid, roof;

    results.forEach(result => {
        switch(result.sensor_id){
            case 1:
                temp = result.sensor_data;
                heater = result.status;
            break;

            case 2:
                humid = result.sensor_data;
                dehumid = result.status;
            break;

            case 4:
                light = result.sensor_data;
                roof = result.status;
            break;

            default:
            break;
        }
    });
    heater = heater ? "on" : "off";
    dehumid = dehumid ? "on" : "off";
    roof = roof ? "open" : "close";
%>

<body class="landing">
    <!-- Header -->
    <header id="header" class="alt">
        <h1><p class="userText"><%=user%></p> 님 환영합니다.</h1>
        <form action="/logout" method="get" style="display: inline-block;"><input type="submit" value="로그아웃"></form>
    </header>
    <!-- Banner -->
    <section id="banner">
        <img src="../img/exlogo4.png" alt=""/>
    </section>
    <!-- Navtwo -->
    <nav id="navtwo">
            <!-- One -->
            <section id="one" class="wrapper style1">
                <div class="inner">
                    <article class="feature left">
                        <span class="cldimg" ><img src="../img/cloud.png" alt="" /></span>
                        <div class="content">
                            <h2>SMART FACTORY <br>조도</h2>
                            <p>
                                <b>
                                    현재 조도는 <%=light%> 입니다.<br>
                                    현재 천장은 <%=roof%> 상태입니다.<br>
                                </b>
                            </p>
                            
                            <ul class="actions">
                                <li>
                                    <% if(user == 'KIM' || user== 'DEV'){%>
                                        <a href="/manage/illum" class="button alt">바로가기</a>
                                    <% } else { %>
                                        <div style="height: 41.8px;"/>
                                    <%}%>
                                    
                                </li>
                            </ul>
                        </div>
                    </article>
                    <article class="feature left">
                        <span class="tmpimg">
                            <img src="../img/tempe.png" alt="" />
                            <img src="../img/hum.png" alt="" />
                        </span>
                        <div class="content">
                            <h2>SMARTFACTORY <br>온도 습도</h2>
                            <p>
                                <b>
                                    현재 온도는 <%=temp%> ˚C 입니다.<br>
                                    현재 습도는 <%=humid%> % 입니다.<br>
                                    난방기 [ <%=heater%> ]<br>
                                    제습기 [ <%=dehumid%> ]
                                </b>
                            </p>
                            <ul class="actions">
                                <li>
                                    <% if(user == 'LEE' || user== 'DEV'){%>
                                        <a href="/manage/th" class="button alt">바로가기</a>
                                    <% } else { %>
                                        <div style="height: 41.8px;"/>
                                    <%}%>
                                    
                                </li>
                            </ul>
                        </div>
                    </article>
                     <article class="feature left">
                        <span class="boximg"><img src="../img/boxes.png" alt="" /></span>
                        <div class="content">
                            <h2>
                                SMARTFACTORY 
                                <br>
                                재고수량
                            </h2>
                            <table style="border-bottom: double 1px black;">
                                <tr>
                                    <th>재고 명</th>
                                    <th>현재 수량</th>
                                </tr>
                                <% results2.forEach(result2=>{%>
                                    <tr>
                                        <td><%= result2.ITEM_NAME %></td>
                                        <td><%= result2.ITEM_STOCK %></td>
                                    </tr>
                                <%});%>
                            </table>
                            <ul class="actions">
                                <li>
                                    <% if(user == 'JIN' || user== 'DEV'){%>
                                        <a href="/manage/stock" class="button alt">바로가기</a>
                                    <% } else { %>
                                        <div style="height: 41.8px;"/>
                                    <%}%>
                                </li>
                            </ul>
                        </div>
                    </article>
                </div>
            </section>
    </nav>
    <!-- Footer -->
    <footer id="footer">
        <div class="inner">
            <ul class="copyright">
                <img src="../img/exlogo4.png" alt="" />
                <li>&copy; KITRI_SF_project.</li><br>
                <li>PM: <a href="http://unsplash.com">JIN HEE SUNG</a>.</li><br>
                <li>Member: KIM SAMUEL, KIM YOUNGROK, PARK JONGJIN, LEE SANGJIN, CHOI INKYU  </a>.</li>
            </ul>
        </div>
    </footer>
    <!-- Scripts -->
    <script src="../assets_main/js/jquery.min.js"></script>
    <script src="../assets_main/js/skel.min.js"></script>
    <script src="../assets_main/js/util.js"></script>
    <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
    <script src="../assets_main/js/main.js"></script>
</body>

</html>