<!DOCTYPE HTML>
        <%- include('./include/head') %>
        <script src="https://d3js.org/d3.v4.min.js"></script>
        <link rel="stylesheet" href="../css/billboard.css">
        <link rel="stylesheet" href="../stock_assets/css/stockindex.css">
        <script src="../js/billboard.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	</head>
	<body>
        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
            <div class="container">
                <a class="navbar-brand boldst" href="/"><img src="../stock_assets/image/50px35pxlogo.png" alt="">&nbsp;&nbsp;SF KITRI</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <h3 class="nav-link"><%=user%> 님</h3>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/auth/logout">Log out</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

		<!-- 메인페이지 작성 -->
        <div class="stock">
            <div>
                <div class="col-sm-6">
                    <h1>재고량</h1>
                </div>
                <div>
            <div id="gaugeChart"></div>
                </div>
            </div>
            <div>
                <div class="col-sm-6">
                    <h1>과자 비율</h1>
                </div>
                <div>
            <div id="pieChart"></div>
                </div>
            </div>
            <div>
                <div class="col-sm-6 barChartp">
                    <h1>필요 소재</h1>
                </div>
                <div>
                    <div id="barChart"></div>
                </div>
            </div>
        </div>

        <!-- Footer -->
        <footer class="py-5 bg-dark" style="bottom: -1px;">
            <div class="container">
                <p class="m-0 text-center text-white"> 
                    &copy; KITRI_SF_project.
                    PM: JIN HEE SUNG.<br>
                    Member: KIM SAMUEL, KIM YOUNGROK, PARK JONGJIN, LEE SANGJIN, CHOI INKYU . 
                </p>
            </div>
            <!-- /.container -->
        </footer>

    <!-- Scripts -->
    <script>
        var gchart = bb.generate({
            data: {
                columns: [
                    ["재고율", <%=stockPer%> ]
                ],
                type: "gauge",
                onclick: function(d, i) {
                    console.log("onclick", d, i);
                },
                onover: function(d, i) {
                    console.log("onover", d, i);
                },
                onout: function(d, i) {
                    console.log("onout", d, i);
                }
            },
            gauge: {},
            color: {
                pattern: [
                    "#60B044",
                    "#F6C600",
                    "#F97600",
                    "#FF0000"
                ],
                threshold: {
                    values: [
                        70,
                        80,
                        90,
                        100
                    ]
                }
            },
            size: {
                height: 180
            },
            bindto: "#gaugeChart"
        });
        
        var barChart = bb.generate({
            data: {
                columns: [
                    [<%-prd[0]%>,<%=mat_s[0]%>]
                ],
                type: "bar",
                colors: <%- JSON.stringify(color)%>, //ejs가 json을 읽지 못하기 때문에 JSON.stringify를 사용해서 표현
                // color: function(color, d) {
                //     return (d.id && d.id === "data3") ?
                //         d3.rgb(color).darker(d.value / 150).toString() : color;
                // }
            },
            axis: {
                x: {
                    type: "category",
                    categories: [ "완제품", <%-mat_n[0]%> ]
                },
                y: {
                    label: {
                        text: "수량",
                        position: "outer-center"
                    }
                },
                rotated: true
            },
            bindto: "#barChart"
        });
        
        var c_id = "고래밥";
        var pchart = bb.generate({
            data: {
                columns: [
                    <%-col%>
                    // ["홈런볼", 450], //[완제품, 재고량]
                    // ["칸쵸", 250],
                    // ["고래밥", 300]
                ],
                type: "pie",
                onclick: function(d, i) {
                    var id = d.id;
                    //console.log("onclick", d, i);
                    let p_info = [<%-col%>];
                    let col_s;
                    let cate;
                    p_info.forEach((p,ind)=>{
                        if(p[0] == id){ // 완제품 배열과 현재클릭된 완제품을 비교하여 해당 index선택
                            col_s = $.merge(p,(JSON.parse('<%-JSON.stringify(mat_s)%>')[ind])); //함수를 통해 배열형태로 리턴된 값에 [ind]를 붙혀 해당 완제품 배열과 완제품 소재 수량을 합침 || [완제품1,완제품1수량,완제품1 소재1 수량,완제품1 소재2 수량] 형태
                            cate = (<%-JSON.stringify(mat_n)%>[ind]); // 차트에 표현될 카테고리로 사용하기 위해 해당 완제품의 소재 명을 추출한 배열값 대입
                            console.log(cate);
                        }
                    });

                    barChart.load({
                        unload: [
                            c_id // 변동
                        ],
                        columns: [
                            col_s // 변동
                        ],
                    });
                    c_id = id;
                    barChart.categories($.merge(["\"완제품\""],cate)); // [완제품,완제품 소재1 제품명,완제품 소재2 제품명]의 형태
                }
            },
            color: {
                pattern: [
                    <%-pattern%>
                ]
            },
            bindto: "#pieChart"
        });
    </script>
    <script src="../js/jquery.min.js"></script>
    <script src="../js/skel.min.js"></script>
    <script src="../js/util.js"></script>
    <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
    <script src="../js/main.js"></script>
	</body>
</html>