<!DOCTYPE HTML>
        <%- include('./include/head') %>
		<title>온/습도 관리</title>
		<link rel="stylesheet" href="../css/main.css" />
        <link rel="stylesheet"  href="../css/style2.css">
        <script src="https://d3js.org/d3.v4.min.js"></script>
        <link rel="stylesheet" href="../css/billboard.css">
        <script src="../js/billboard.js"></script>
    </head>
	<body>
		<!-- Header -->
			<header id="header">
                <h1><%=user%> 님 환영합니다</h1>
                <span  class="main_logo"><a href="/">로고(메인페이지 버튼)</a></span>
			</header>

		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="container">
                    <%if(curT == undefined || curH == undefined) {%>
                    <header class="major special">
                        <h2>데이터 로딩중 입니다...</h2>
                    </header>
                    <% } else {%>
					<header class="major special">
                        <h2>온/습도 관리 페이지</h2>
                        <% if(!isAuto[0]){ %>
                            <h1>
                                현재 온도 [<%=curT%>]
                            </h1>
                        <% } else {%>
                            <h1>
                                현재 온도 [<%=curT%>] 타겟 온도 [<%=aim[0]%>]
                            </h1>
                        <% } %>
                        <% if(!isAuto[1]){ %>
                            <h1>
                                현재 습도 [<%=curH%>]
                            </h1>
                        <% } else {%>
                            <h1>
                                현재 습도 [<%=curH%>] 타겟 습도 [<%=aim[1]%>]
                            </h1>
                        <% } %>
                    </header>
                    <div id="chart"></div>
                    <div style="
                        display: grid;
                        grid-template-columns: auto auto;
                        margin-top: 20px;
                    ">
                        <div>
                            <% if(!isAuto[0]){ %>
                                <form method="POST" action="/auto/temp">
                                    <% var tempRemote = isAuto[0] ? 0 : 1; %>
                                    <input type="text" name="remote" value="<%=tempRemote%>" style="display: none;">
                                    <input type="submit" value="난방 자동 관리"  class="big" style="position: relative; left: 48%;">
                                </form>
                                <% if(!st[0]) { %>
                                <form method="POST" action="/control/temp">
                                    <input type="text" name="remote" value="1" style="display: none;">
                                    <input type="submit" value="난방기 켜기"  class="big" style="position: relative; left: 50%;">
                                </form>
                                <% } else { %>
                                <form method="POST" action="/control/temp">
                                    <input type="text" name="remote" value="0" style="display: none;">
                                    <input type="submit" value="난방기 끄기"  class="big" style="position: relative; left: 50%;">
                                </form>
                                <% } %>
                            <% } else {%>
                                <form method="POST" action="/auto/temp" style="text-align: right;">
                                    <% var tempRemote = isAuto[0] ? 0 : 1; %>
                                    <input type="text" name="remote" value="<%=tempRemote%>" style="display: none;">
                                    <input type="submit" value="난방 수동 관리"  class="big">
                                </form>
                                <form method="POST" action="/aim/temp" style="display: grid; grid-template-columns: auto auto; justify-items: end;">
                                    <input type="text" name="remote" value="<%=aim[0]%>" style="width:80%;">
                                    <input type="submit" value="타겟 온도 변경"  class="big" style="width:80%;">
                                </form>
                            <% } %>
                        </div>
                        

                        <div>
                            <% if(!isAuto[1]){ %>
                                <form method="POST" action="/auto/humid" style="text-align: right;">
                                    <% var humidRemote = isAuto[1] ? 0 : 1; %>
                                    <input type="text" name="remote" value="<%=humidRemote%>" style="display: none;">
                                    <input type="submit" value="제습 자동 관리"  class="big" style="position: relative; right: 10%;">
                                </form>
                                <% if(!st[1]) { %>
                                <form method="POST" action="/control/humid" style="text-align: right;">
                                    <input type="text" name="remote" value="1" style="display: none;">
                                    <input type="submit" value="제습기 켜기" class="big" style="position: relative; right:12%">
                                </form>
                                <% } else { %>
                                <form method="POST" action="/control/humid" style="text-align: right;">
                                    <input type="text" name="remote" value="0" style="display: none;">
                                    <input type="submit" value="제습기 끄기"  class="big" style="position: relative; right:12%">
                                </form>
                                <% } %>
                            <% } else {%>
                                <form method="POST" action="/auto/humid" style="text-align: right;">
                                    <% var humidRemote = isAuto[1] ? 0 : 1; %>
                                    <input type="text" name="remote" value="<%=humidRemote%>" style="display: none;">
                                    <input type="submit" value="제습 수동 관리"  class="big">
                                </form>
                                <form method="POST" action="/aim/humid" style="display: grid; grid-template-columns: auto auto; justify-items: end;">
                                    <input type="text" name="remote" value="<%=aim[1]%>" style="width:80%;">
                                    <input type="submit" value="타겟 습도 변경"  class="big" style="width:80%;">
                                </form>
                            <% } %>
                        </div>
                    </div>
                    <% }%>
				</div>
			</section>

		<!-- Footer -->
			 <footer id="footer">
        <div class="inner">
            <ul class="copyright">
                <img src="../img/exlogo4.png" alt="" />
                <li>&copy; KITRI_SF_project.</li><br>
                <li>PM: <a href="http://unsplash.com">JIN HEE SUNG</a>.</li><br>
                <li>Member: KIM SAMUEL, KIM YOUNGROK, PARK JONGJIN, LEE SANGJIN, CHOI INKYU  </a>.</li>
            </ul>
        </div>
    </footer>

    <!-- Scripts -->
    <script src="../js/jquery.min.js"></script>
    <script src="../js/skel.min.js"></script>
    <script src="../js/util.js"></script>
    <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
    <script src="../js/main.js"></script>
    <script>
        var chart = bb.generate({
            data: {
                x: "x",
                xFormat: "%Y-%m-%d %H:%M:%S",
                columns: [
                    ["x", <%-date%>],
                    ["온도", <%=temp%>],
                    ["습도", <%=humid%>]
                ],
                types: {
                    습도: "area"
                },
                axes: {
                    습도: "y2"
                }
            },
            color: {
                pattern: [
                    "#ff7f0e",
                    "#1f77b4"
                    ]
            },
            axis: {
                x: {
                    type: "timeseries",
                    localtime: true,
                    tick: {
                        format: "%Y-%m-%d %H:%M:%S"
                    }
                },
                y: {
                    label: "온도 (℃)",
                    max: 40,
                    min: -20
                },
                y2: {
                    show: true,
                    label: "습도 (%)",
                    max: 100,
                    min: 0
                }
            },
            bindto: "#chart"
        });
    </script>
	</body>
</html>