<!DOCTYPE HTML>
        <%- include('./include/head') %>
		<title>온/습도 관리</title>
        <link rel="stylesheet" href="../temp_humid_assets/css/main.css" />
        <link rel="stylesheet" href="../temp_humid_assets/css/index.css" />
        <link rel="stylesheet" href="../temp_humid_assets/css/thindex.css" />
        <link rel="stylesheet" href="../temp_humid_assets/css/chartist-custom.css"/>
        <script src="https://d3js.org/d3.v4.min.js"></script>
        <link rel="stylesheet" href="../css/billboard.css">
        <script src="../js/billboard.js"></script>
    </head>
	<body>
        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
            <div class="container">
                <a class="navbar-brand boldst" href="/"><img src="../temp_humid_assets/image/50px35pxlogo.png" alt="">&nbsp;&nbsp;SF KITRI</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <h3 class="nav-link"><%=user%> 님</h3>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/auth/logout">log out</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>    
        
		<!-- 메인페이지 작성 -->
        <div class="ilumindex">
            <%if(curT == undefined || curH == undefined) {%>
                <h2>데이터 로딩중 입니다...</h2>
            <% } else { %>
                <div style="padding: 0 20vw; margin-bottom: 2vh;">
                    <div id="chart"></div>
                </div>

                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-2"></div>
                    <div class="col-md-2">
                        <form method="POST" action="/auto/temp">
                            <% var tempRemote = isAuto[0] ? 0 : 1; %>
                            <% var tempTxt = isAuto[0] ? "냉난방 수동 관리" : "냉난방 자동 관리"; %>
                            <input type="text" name="remote" value="<%=tempRemote%>" style="display: none;">
                            <input type="submit" class="btn btn-primary btn1" value="<%=tempTxt%>" style="width: 100%;"> 
                        </form>
                    </div>
                    <div class="col-md-2"></div>
                    <div class="col-md-2">
                        <form method="POST" action="/auto/humid">
                            <% var humidRemote = isAuto[1] ? 0 : 1; %>
                            <% var humidTxt = isAuto[1] ? "제습 수동 관리" : "제습 자동 관리"; %>
                            <input type="text" name="remote" value="<%=humidRemote%>" style="display: none;">
                            <input type="submit" class="btn btn-primary btn1" value="<%=humidTxt%>" style="width: 100%;"> 
                        </form>
                    </div>
                </div>
        
                <div class="row butsize">
                    
                    <div class="col-md-2"></div>
                    <div class="col-md-2">
                        <% if(isAuto[0]){ %>
                            <input type="text" id="tempAimText" value="<%=aim[0]%>" autocomplete="off">
                            <% } %>
                    </div>
                    <div class="col-md-2">
                        <% if(!isAuto[0]){ %>
                            <% let ACRemote = st[0] ? 0 : 1; %>
                            <% let ACTxt = st[0] ? "냉난방기 끄기" : "냉난방기 켜기"; %>
                            <form method="POST" action="/control/temp">
                                <input type="text" name="remote" value="<%=ACRemote%>" style="display: none;">
                                <input type="submit" value="<%=ACTxt%>" class="btn btn-primary btn1" style="width: 100%;">
                            </form>
                        <% } else {%>
                            <form method="POST" action="/aim/temp" onsubmit="return Temp_addParameter()">
                                <input type="text" value="" name="remote" style="display: none;" id="tempAimValue">
                                <input type="submit" value="타겟 온도 변경"  class="btn btn-primary btn1" style="width:100%;">
                            </form>
                        <% } %>
                    </div>
        
                    <div class="col-md-2">
                        <% if(isAuto[1]){ %>
                        <input type="text" id="humidAimText" value="<%=aim[1]%>" autocomplete="off">
                        <% } %>
                    </div>
                    <div class="col-md-2">
                        <% if(!isAuto[1]){ %>
                            <% let dehumidRemote = st[1] ? 0 : 1; %>
                            <% let dehumidTxt = st[1] ? "제습기 끄기" : "제습기 켜기"; %>
                            <form method="POST" action="/control/humid">
                                <input type="text" name="remote" value="<%=dehumidRemote%>" style="display: none;">
                                <input type="submit" value="<%=dehumidTxt%>" class="btn btn-primary btn1" style="width: 100%;">
                            </form>
                        <% } else {%>
                            <form method="POST" action="/aim/humid" onsubmit="return Humid_addParameter()">
                                <input type="text" value="" name="remote" style="display: none;" id="humidAimValue">
                                <input type="submit" value="타겟 습도 변경"  class="btn btn-primary btn1" style="width:100%;">
                            </form>
                        <% } %>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2"></div>   
                    <div class="col-md-2"></div>
                    <div class="col-md-2">
                        <% if(!isAuto[0]){ %>
                            <% let ACSt = st[0] ? "냉난방기 on" : "냉난방기 off"; %>
                            <p style="margin-left: 2vw;"><b>현재 온도 [<%=curT%>]&nbsp;&nbsp;[ <%=ACSt%> ]</b></p>
                        <% } else {%>
                            <p style="margin-left: 2vw;"><b>현재 온도 [<%=curT%>]&nbsp;&nbsp;타겟 온도 [<%=aim[0]%>]</b></p>
                        <% } %>
                    </div>
                    <div class="col-md-2"></div>
                    <div class="col-md-2">
                        <% if(!isAuto[1]){ %>
                            <% let dehumiddSt = st[1] ? "제습기 on" : "제습기 off"; %>
                            <p style="margin-left: 2vw;"><b>현재 습도 [<%=curH%>]&nbsp;&nbsp;[ <%=dehumiddSt%> ]</b></p>
    
                        <% } else {%>
                            <p style="margin-left: 2vw;"><b>현재 습도 [<%=curH%>]&nbsp;&nbsp;타겟 습도 [<%=aim[1]%>]</b></p>
                        <% } %>
                    </div>
                </div>
            <% } %>
        </div>

        <!-- Footer -->
        <footer class="py-5 bg-dark fixed-bottom" style="bottom: -1px;">
            <div class="container">
                <p class="m-0 text-center text-white"> &copy; KITRI_SF_project.
                    PM: JIN HEE SUNG.<br>
                    Member: KIM SAMUEL, KIM YOUNGROK, PARK JONGJIN, LEE SANGJIN, CHOI INKYU . </p>
            </div>
        </footer>

    <!-- Scripts -->
    <script>
        const Humid_addParameter = () => {
            $('#humidAimValue').val($('#humidAimText').val());
            return true;
        }

        const Temp_addParameter = () => {
            $('#tempAimValue').val($('#tempAimText').val());
            return true;
        }
    </script>
    <script src="../js/jquery.min.js"></script>
    <script src="../js/skel.min.js"></script>
    <script src="../js/util.js"></script>
    <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
    <script src="../js/main.js"></script>
    <script>
        var chart = bb.generate({
            data: {
                x: "x",
                xFormat: "%Y-%m-%d %H:%M:%S",
                columns: [
                    ["x", <%-date%>],
                    ["온도", <%=temp%>],
                    ["습도", <%=humid%>]
                ],
                types: {
                    습도: "area"
                },
                axes: {
                    습도: "y2"
                }
            },
            color: {
                pattern: [
                    "#ff7f0e",
                    "#1f77b4"
                    ]
            },
            axis: {
                x: {
                    type: "timeseries",
                    localtime: true,
                    tick: {
                        format: "%Y-%m-%d %H:%M:%S"
                    }
                },
                y: {
                    label: "온도 (℃)",
                    max: 40,
                    min: -20
                },
                y2: {
                    show: true,
                    label: "습도 (%)",
                    max: 100,
                    min: 0
                }
            },
            bindto: "#chart"
        });
    </script>
	</body>
</html>